@{
    ViewData["Title"] = "Varyant Değerleri";
}

<div class="flex-grow-1 container-p-y container-fluid">
    <div class="d-flex flex-column justify-content-center">
        <h4 class="mb-3">@ViewData["Title"]</h4>
    </div>
    <div class="card">
        <div class="card-header border-bottom">
            <h5 class="card-title">Filtreler</h5>
            <div class="d-flex justify-content-between align-items-center row pt-4 gap-6 gap-md-0 g-md-6">
                <div class="col-md-4 productFilterBrand"></div>
            </div>
        </div>
        <div class="card-datatable">
            <table id="ProductAttributeValueTable" class="table">
                <thead class="border-top">
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Varyant Adı</th>
                        <th>Değeri</th>
                        <th>Görüntüleme Sırası</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>


<!-- Create Product Attribute Value Modal -->
<div class="modal fade" id="createAttributeValue" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-simple modal-dialog-centered">
        <div class="modal-content p-3 p-md-5">
            <div class="modal-body">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="text-center mb-4">
                    <h3 class="mb-2">Yeni Varyant Değeri</h3>
                </div>

                <form id="createAttributeValueForm" class="row g-3" onsubmit="return false;">
                    <!-- ProductAttributeId -->
                    <div class="col-12 mb-3">
                        <label class="form-label" for="ProductAttributeId">Varyant Adı <span class="text-danger">*</span></label>
                        <select id="ProductAttributeId" name="ProductAttributeId" class="form-select" style="width:100%"></select>
                    </div>

                    <!-- Name -->
                    <div class="col-12 mb-3">
                        <label class="form-label" for="Name">Değer Adı <span class="text-danger">*</span></label>
                        <input type="text" id="Name" name="Name" class="form-control" placeholder="Örn: Kırmızı" />
                    </div>

                    <!-- DisplayOrder -->
                    <div class="col-12 mb-3">
                        <label class="form-label" for="DisplayOrder">Gösterim Sırası <span class="text-danger">*</span></label>
                        <input type="number" id="DisplayOrder" name="DisplayOrder" class="form-control" placeholder="0"/>
                    </div>

                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-primary me-sm-3 me-1">Kaydet</button>
                        <button type="reset" class="btn btn-label-secondary" data-bs-dismiss="modal">Vazgeç</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


<!-- Edit Product Attribute Value Modal -->
<div class="modal fade" id="editAttributeValue" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-simple modal-dialog-centered">
        <div class="modal-content p-3 p-md-5">
            <div class="modal-body">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="text-center mb-4">
                    <h3 class="mb-2">Varyant Değeri Güncelle</h3>
                </div>

                <form id="editAttributeValueForm" class="row g-3" onsubmit="return false;">
                    <input type="hidden" id="Edit_Id" name="Id" />

                    <!-- ProductAttributeId -->
                    <div class="col-12 mb-3">
                        <label class="form-label" for="Edit_ProductAttributeId">Varyant Adı <span class="text-danger">*</span></label>
                        <select id="Edit_ProductAttributeId" name="ProductAttributeId" class="form-select" style="width:100%"></select>
                    </div>

                    <!-- Name -->
                    <div class="col-12 mb-3">
                        <label class="form-label" for="Edit_Name">Değer Adı <span class="text-danger">*</span></label>
                        <input type="text" id="Edit_Name" name="Name" class="form-control" placeholder="Örn: Kırmızı" />
                    </div>

                    <!-- DisplayOrder -->
                    <div class="col-12 mb-3">
                        <label class="form-label" for="Edit_DisplayOrder">Gösterim Sırası <span class="text-danger">*</span></label>
                        <input type="number" id="Edit_DisplayOrder" name="DisplayOrder" class="form-control" placeholder="0" value="0"/>
                    </div>

                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-primary me-sm-3 me-1">Kaydet</button>
                        <button type="reset" class="btn btn-label-secondary" data-bs-dismiss="modal">Vazgeç</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/assets/js/customjs/product-attribute-value/attributevalue.js"></script>
}
