@{
    ViewData["Title"] = "Erp Entegrasyonları";
}

<div class="flex-grow-1 container-p-y container-fluid">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Ürün Yönetimi /</span> Ürünler</h4>
    <div class="card">
        <h5 class="card-header">Ürünler</h5>
        <div class="card-datatable text-nowrap">
            <table id="ProductTable" class="table">
                <thead>
                    <tr>
                        <th>Ürün adı</th>
                        <th>Ürün kodu</th>
                        <th>Liste fiyatı</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>