@{
    ViewData["Title"] = "Erp Entegrasyonları";
}

<div class="flex-grow-1 container-p-y container-fluid">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Ayarlar /</span> ERP Entegrasyonları</h4>
    <div class="row">
        <div class="col-3">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
                        <img class="card-img card-img-left w-75" src="https://www.logo.com.tr/_next/image?url=%2Flogo.webp&w=1920&q=75" alt="Card image">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Logo</h5>
                            <p class="card-text">
                                Logo yazılım ürünleri ile entegre çalışabilmektedir.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row p-3">
                    <div class="mb-0">
                        <button type="button" onclick="SelectErp('Logo')" class="btn btn-success waves-effect waves-light w-100">
                            <i class="ti ti-plus me-1"></i>
                            <span class="align-middle">Aktif Et</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
                        <img class="card-img card-img-left w-75" src="https://bworks.tc/images/Bilgi-Islem/Netsis/netsis_hakkinda/netsis.gif" alt="Card image">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Netsis</h5>
                            <p class="card-text">
                                Netis yazılım ürünleri ile entegre çalışabilmektedir.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row p-3">
                    <div class="mb-0">
                        <button type="button" onclick="SelectErp('Netsis')" class="btn btn-success waves-effect waves-light w-100">
                            <i class="ti ti-plus me-1"></i>
                            <span class="align-middle">Aktif Et</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
                        <img class="card-img card-img-left w-75" src="https://www.opakyazilim.com/Content/images/common/logoOpak.svg" alt="Card image">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Opak</h5>
                            <p class="card-text">
                                Opak yazılım ürünleri ile entegre çalışabilmektedir.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row p-3">
                    <div class="mb-0">
                        <button type="button" onclick="SelectErp('Opak')" class="btn btn-success waves-effect waves-light w-100">
                            <i class="ti ti-plus me-1"></i>
                            <span class="align-middle">Aktif Et</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>
        function SelectErp(erpType){
             $.ajax({
                 url: '@Url.Action("Erp", "Settings")',
                 type: 'POST',
                 data: { erpType: erpType },
                 success: function (response) {
                     if(response.success){
                         location.reload();
                     }else{

                     }
                 },
                 error: function () {
                     Swal.fire({
                         icon: 'error',
                         title: 'Hata!',
                         text: 'Sunucu ile bağlantı kurulamadı.',
                         confirmButtonText: 'Tamam',
                         customClass: {
                             confirmButton: 'btn btn-danger'
                         },
                         buttonsStyling: false
                     });
                 }
             });
        }
    </script>
}