/*
* demo.css
* File include item demo only specific css only
******************************************************************************/

.menu .app-brand.demo {
    height: 64px;
}

.app-brand-logo.demo svg {
    width: 34px;
    height: 24px;
}

.app-brand-text.demo {
    font-size: 1.375rem;
}

/* ! For .layout-navbar-fixed added fix padding top to .layout-page */
/* Default navbar */
.layout-navbar-fixed .layout-wrapper:not(.layout-without-menu) .layout-page {
    padding-top: 64px !important;
}

.layout-navbar-fixed .layout-wrapper:not(.layout-horizontal):not(.layout-without-menu) .layout-page {
    padding-top: 72px !important;
}
/* Navbar page z-index issue solution */
.content-wrapper .navbar {
    z-index: auto;
}

/*
* Content
******************************************************************************/

.demo-blocks > * {
    display: block !important;
}

.demo-inline-spacing > * {
    margin: 1rem 0.375rem 0 0 !important;
}

/* ? .demo-vertical-spacing class is used to have vertical margins between elements. To remove margin-top from the first-child, use .demo-only-element class with .demo-vertical-spacing class. For example, we have used this class in forms-input-groups.html file. */
.demo-vertical-spacing > * {
    margin-top: 1rem !important;
    margin-bottom: 0 !important;
}

.demo-vertical-spacing.demo-only-element > :first-child {
    margin-top: 0 !important;
}

.demo-vertical-spacing-lg > * {
    margin-top: 1.875rem !important;
    margin-bottom: 0 !important;
}

.demo-vertical-spacing-lg.demo-only-element > :first-child {
    margin-top: 0 !important;
}

.demo-vertical-spacing-xl > * {
    margin-top: 5rem !important;
    margin-bottom: 0 !important;
}

.demo-vertical-spacing-xl.demo-only-element > :first-child {
    margin-top: 0 !important;
}

/* Dropdown buttons going out of small screens */
@media (max-width: 576px) {
    #dropdown-variation-demo .btn-group .text-truncate {
        width: 254px;
        position: relative;
    }

        #dropdown-variation-demo .btn-group .text-truncate::after {
            position: absolute;
            top: 45%;
            right: 0.65rem;
        }
}

/*
* Layout demo
******************************************************************************/

.layout-demo-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 1rem;
}

.layout-demo-placeholder img {
    width: 900px;
}

.layout-demo-info {
    text-align: center;
    margin-top: 1rem;
}

.file-icon {
    position: absolute;
}

.file-icon, .file-thumb {
    align-self: center;
    opacity: 0;
    transition: opacity 0.65s ease;
}

    .file-icon.show, .file-thumb.show {
        opacity: 1;
    }

.file-figure {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.fu-container {
    position: relative
}

    .fu-container.dz-highlight .dropzone-container, .fu-container.dz-drag-hover .dropzone-container {
        border-color: #307abe !important;
        background-color: #f1f7fc !important;
        pointer-events: none
    }

    .fu-container > .dz-preview {
        display: none !important
    }

    .fu-container .fu-message {
        cursor: pointer
    }

    .fu-container.xl .fu-message {
        font-size: 1.125rem !important
    }

    .fu-container.xl .dropzone-file-info, .fu-container.xl .fu-fileupload {
        justify-content: center;
        text-align: center
    }

    .fu-container:not(.xl) .dropzone-target {
        padding: 10px
    }

    .fu-container .fu-progress:not(.list) {
        position: absolute;
        left: 0;
        bottom: -1px;
        right: 0
    }

        .fu-container .fu-progress:not(.list) .progress {
            height: 0.25rem;
            background: transparent;
            margin: 0;
            border-radius: 0;
            border-bottom-left-radius: .375rem;
            border-bottom-right-radius: .375rem;
            box-shadow: none
        }

            .fu-container .fu-progress:not(.list) .progress .progress-bar {
                background-color: #307abe;
                transition: width 0.25s ease, background-color 0.25s ease
            }

        .fu-container .fu-progress:not(.list).success {
            transition-delay: 0.4s
        }

            .fu-container .fu-progress:not(.list).success .progress-bar {
                background-color: #009e74 !important
            }

    .fu-container .customer-avatar-lg {
        display: block
    }

    .fu-container .empty {
        font-weight: 400 !important;
        color: #8d9ba9 !important
    }

.dropzone-container {
    pointer-events: initial !important;
    transition: all .2s;
    align-items: center;
    display: flex;
    position: relative;
    border: 2px dashed #ced4da !important;
    background: #f8f9fa !important;
    border-radius: 5px
}

    .dropzone-container.fullscreen {
        position: relative;
        width: 100%;
        height: 100%
    }

        .dropzone-container.fullscreen .fu-message {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%
        }

    .dropzone-container.hide {
        display: none
    }

    .dropzone-container .dropzone {
        border: none;
        background: none;
        width: 100%;
        padding: 20px
    }

    .dropzone-container .fu-fileupload, .dropzone-container .fu-message {
        font-size: 1rem;
        align-self: center;
        color: var(--primary-dark)
    }

    .dropzone-container .dz-preview, .dropzone-container .dz-message {
        display: none
    }

    .dropzone-container .fu-thumb {
        position: relative;
        margin: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90px;
        height: 90px;
        min-width: 90px
    }

.xl .dropzone-container .fu-thumb {
    min-width: 120px;
    width: 120px;
    height: 120px
}

.dropzone-container .fu-thumb.empty {
    border: 2px dashed #ced4da
}

    .dropzone-container .fu-thumb.empty .file-icon {
        color: rgba(0,0,0,0.12)
    }

.dropzone-container .fu-thumb .file-figure {
    max-width: 100%;
    max-height: 100%
}

    .dropzone-container .fu-thumb .file-figure .file-thumb {
        display: flex;
        align-self: auto;
        justify-content: center
    }

.dropzone-container .fu-thumb .file-img {
    max-width: 100%;
    max-height: 100%;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 calc(2px * var(--shadow-yoffset, 1)) 16px -2px rgba(var(--shadow-colorbase-rgb), calc(var(--shadow-intensity) * 0.12)),0 calc(2px * var(--shadow-yoffset, 1)) 3px -2px rgba(var(--shadow-color-rgb), calc(var(--shadow-intensity) * 0.15))
}

.dropzone-container .fu-controls {
    flex-grow: 1;
    overflow: hidden
}

.dropzone-container .fu-remove {
    display: none;
    --btn-height: 24px
}

    .dropzone-container .fu-remove .fu-remove-icon {
        margin-top: -2px
    }

.fu-file-preview {
    margin: 0 10px 10px 0;
    position: relative;
    border: 1px solid #ced4da;
    border-radius: var(--border-radius-md);
    background: #f8f9fa;
    display: flex;
    justify-content: center;
    overflow: hidden
}

    .fu-file-preview .main-pic-badge {
        display: none;
        position: absolute;
        z-index: 1000;
        right: 0;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0
    }

    .fu-file-preview:first-child .main-pic-badge {
        display: block
    }

    .fu-file-preview .file-figure {
        min-width: 150px;
        max-width: calc(150px / 9 * 16);
        height: 150px
    }

        .fu-file-preview .file-figure .file-icon:not(.show) {
            display: none
        }

        .fu-file-preview .file-figure .file-img {
            max-width: 100%;
            max-height: 150px;
            height: 150px;
            -o-object-fit: contain;
            object-fit: contain
        }

        .fu-file-preview .file-figure:not([data-type='image']) > img {
            display: none !important
        }

    .fu-file-preview .toolbar {
        position: absolute;
        bottom: 0;
        min-width: 100%;
        background-color: #f8f9fa;
        visibility: hidden;
        transition: visibility 0.1s;
        border-top: 1px solid #aab5bf;
        z-index: 2;
        cursor: default
    }

        .fu-file-preview .toolbar > .btn {
            border-radius: 0 !important
        }

    .fu-file-preview .fu-file-info-container {
        position: absolute;
        transition: opacity .3s;
        opacity: 0;
        visibility: visible;
        background-color: rgba(24,80,159,0.7);
        z-index: 2
    }

        .fu-file-preview .fu-file-info-container .drag-gripper {
            width: -webkit-fit-content;
            width: -moz-fit-content;
            width: fit-content;
            cursor: move;
            z-index: 10
        }

            .fu-file-preview .fu-file-info-container .drag-gripper .drag-icon {
                width: 2.75rem;
                height: 2.75rem;
                line-height: 2.75rem
            }

        .fu-file-preview .fu-file-info-container .fu-file-info-name {
            z-index: 2;
            padding: 0 0.5rem;
            text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
            line-height: 1.3;
            max-height: calc(.875rem * 1.3 * 3);
            max-width: 100%;
            overflow: hidden;
            word-break: break-all;
            margin-bottom: .75rem
        }

        .fu-file-preview .fu-file-info-container .fu-preview-control-menu {
            z-index: 5;
            margin-top: -6px
        }

            .fu-file-preview .fu-file-info-container .fu-preview-control-menu > * {
                margin-top: 6px
            }

    .fu-file-preview:hover:not(.sortable-ghost) {
        border: 1px solid #ced4da
    }

        .fu-file-preview:hover:not(.sortable-ghost) .toolbar {
            visibility: visible
        }

        .fu-file-preview:hover:not(.sortable-ghost) .fu-preview-overlay {
            visibility: visible;
            opacity: .5
        }

        .fu-file-preview:hover:not(.sortable-ghost) .fu-file-info-container {
            opacity: 1;
            -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px)
        }

    .fu-file-preview:not(.dz-success) .drag-gripper, .fu-file-preview:not(.dz-success) .fu-preview-control-menu, .fu-file-preview.dz-processing .drag-gripper, .fu-file-preview.dz-processing .fu-preview-control-menu {
        visibility: hidden !important
    }

    .fu-file-preview.sortable-ghost .toolbar {
        visibility: hidden
    }

#duplicate-window .remaining-file-counter {
    float: right;
    padding-top: 10px
}

#duplicate-window .file-display {
    border: 1px solid #ced4da
}

    #duplicate-window .file-display .file-info {
        overflow: hidden
    }

    #duplicate-window .file-display .file-figure {
        width: 100px;
        height: 80px;
        display: flex;
        margin: 0;
        align-items: center;
        justify-content: center
    }

    #duplicate-window .file-display .file-img {
        width: 100px;
        height: 80px;
        -o-object-fit: cover;
        object-fit: cover
    }

    #duplicate-window .file-display .file-date {
        white-space: nowrap;
        overflow: hidden
    }


.fu-preview-control-menu .btn {
    color: white;
    border: 1px solid white;
    transition-property: box-shadow, color, background-color, border-color, opacity, -webkit-transform !important;
    transition-property: transform, box-shadow, color, background-color, border-color, opacity !important;
    transition-property: transform, box-shadow, color, background-color, border-color, opacity, -webkit-transform !important;
    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1) !important;
    transition-duration: .35s !important;
}

    .fu-preview-control-menu .btn:hover {
        color: white;
        border: 1px solid white;
        -webkit-transform: translateY(-3px) !important;
        transform: translateY(-3px) !important;
    }



.product-integration {
    border: 1px solid #ddd;
    position: relative;
}

    .product-integration .product-integration-image {
        padding: 10px;
    }

        .product-integration .product-integration-image img {
            height: 30px;
            width: 30px;
        }

    .product-integration .product-integration-info {
        display: grid;
    }

        .product-integration .product-integration-info .name {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 12px;
        }

        .product-integration .product-integration-info .price {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 12px;
        }

    .product-integration .product-status {
        position: absolute;
        right: 0px;
        bottom: 0;
        font-size: 12px;
        color: #3e8d61;
    }

    .product-integration .product-sales-count {
        background: #2aaf00;
        color: #fff;
        position: absolute;
        left: -10px;
        top: -5px;
        padding: 6px;
        font-size: 10px;
    }


table .avatar img {
    inline-size: auto;
    display: block;
    margin: 0px auto;
    height: 40px;
    max-width: 40px;
}


.product-integration {
    cursor: pointer;
    background-color: #fff;
    transition: background-color 0.2s ease;
    border-radius: 6px;
    padding: 4px 8px;
}

    .product-integration:hover {
        background-color: #f1f5ff;
    }

.choice {
    margin-bottom: 1rem
}

label.required, .col-form-label.required, .choice-label.required {
    font-weight: 600
}

    label.required:after, .col-form-label.required:after, .choice-label.required:after {
        content: ' *'
    }

.choice-item {
    --choice-item-line-height: 1.5715;
    --choice-item-size: max(1rem, 1em);
    display: inline-flex !important;
    align-items: center
}

.choice-item-unavailable {
    color: #aab5bf
}

.choice-item-color, .choice-item-img {
    display: inline-block;
    min-width: var(--choice-item-size);
    height: var(--choice-item-size);
    max-height: var(--choice-item-size);
    padding: 0;
    border-radius: 0.2em;
    border: 1px solid rgba(0,0,0,0.125);
    -webkit-margin-end: 0.5rem;
    margin-inline-end: 0.5rem;
    margin-top: calc((var(--choice-item-line-height) * 1em - var(--choice-item-size)) * 0.5);
    align-self: flex-start;
    text-decoration: none !important;
    overflow: hidden
}

    .choice-item-img > img {
        max-width: 100%;
        height: auto;
        display: inherit
    }

.choice-description {
    color: #aab5bf;
    font-size: .8125rem;
    margin-bottom: 0.5rem
}

    .choice-description > *:first-child {
        margin-top: 0
    }

    .choice-description > *:last-child {
        margin-bottom: 0
    }

.choice-box-group {
    --choice-box-size: 46px;
    --choice-box-strike-color: rgba(0, 0, 0, 0.75);
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 6px
}

    .choice-box-group::after {
        display: block;
        clear: both;
        content: ""
    }

    .choice-box-group.choice-box-group-sm {
        --choice-box-size: 36px
    }

    .choice-box-group.choice-box-group-lg {
        --choice-box-size: 64px
    }

    .choice-box-group.choice-box-group-xl {
        --choice-box-size: 96px
    }

.choice-box {
    position: relative;
    display: block
}

    .choice-box.dark {
        --choice-box-strike-color: #fff
    }

.choice-box-label {
    margin: 0
}

.choice-box-content {
    position: relative;
    display: block;
    cursor: pointer
}

    .choice-box-content:after {
        box-sizing: content-box;
        position: absolute;
        display: block;
        inset-inline-end: -6px;
        top: -6px;
        background-color: #ee9B00;
        border-radius: 50%;
        border: 1px solid #fff;
        width: 16px;
        height: 16px;
        line-height: 16px;
        text-align: center;
        vertical-align: middle;
        font-weight: 900;
        font-family: "Font Awesome 6 Free";
        content: "";
        color: #fff;
        font-size: 10px;
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
        transition: all 0.1s ease-in
    }

.choice-box-element {
    position: relative;
    display: inline-block;
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: .375rem;
    background-color: #fff;
    height: var(--choice-box-size);
    line-height: var(--choice-box-size);
    min-width: var(--choice-box-size);
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    font-weight: 600;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-clip: padding-box
}

    .choice-box-element .choice-box-text {
        padding: 0 0.4rem
    }

.choice-box.unavailable .choice-box-element {
    border: 1px dashed rgba(0,0,0,0.3)
}

    .choice-box.unavailable .choice-box-element:not(.choice-box-color) {
        opacity: .5
    }

    .choice-box.unavailable .choice-box-element:after {
        position: absolute;
        content: '';
        background-color: var(--choice-box-strike-color);
        height: 1px;
        left: 0;
        right: 0;
        top: calc(50% - 1px);
        margin-inline: -8px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg)
    }

.choice-box.disabled .choice-box-element {
    opacity: .5
}

.choice-box-mediafile .choice-box-content {
    max-width: 96px !important
}

    .choice-box-mediafile .choice-box-content .file-img {
        -o-object-fit: contain;
        object-fit: contain;
        max-width: 100%
    }

.choice-box-control-native:checked + .choice-box-content .choice-box-element {
    border-color: #596167;
    box-shadow: inset 0 0 0 2px #fff
}

.choice-box-control-native:checked + .choice-box-content:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
}

.choice-box-control-native {
    display: none !important;
}

.order-actions .split {
    width: 1px;
    background-color: #8d9ba9;
}

.order-actions .btn {
    border-radius: 0 !important;
    margin: 0px 10px;
    border-bottom: 3px solid transparent;
}

    .order-actions .btn.active {
        border-bottom: 3px solid #009e74;
    }

    .order-actions .btn:hover {
        border-bottom: 3px solid #009e74;
    }

.table > thead {
    background-color: #f5f5f5;
}

.packaging-items {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 16px;
    width: 100%;
    border: 1px solid #dadada;
    border-radius: 8px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

    .packaging-items .packaging-item-management {
        line-height: 30px;
    }

        .packaging-items .packaging-item-management .split {
            width: 1px;
            background-color: #ced4da;
            margin-left: 10px;
            margin-right: 10px;
        }

        .packaging-items .packaging-item-management .quantity-change-action {
            margin-left: 8px;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: row;
            flex-direction: row;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -ms-flex-align: center;
            align-items: center;
            padding: 2px 4px;
            gap: 8px;
            width: 90px;
            height: 32px;
            background: #eee;
            border-radius: 16px;
        }

        .packaging-items .packaging-item-management .btn-minus {
            width: 24px;
            height: 24px;
            background: #fff;
            border: 1px solid #dadada;
            border-radius: 50%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 1;
            cursor: pointer;
            font-size: 16px;
            color: #333;
        }

            .packaging-items .packaging-item-management .btn-minus:disabled {
                background-color: #e5e5e5;
            }



            .packaging-items .packaging-item-management .btn-minus:before {
                content: "−";
            }

        .packaging-items .packaging-item-management .btn-plus {
            width: 24px;
            height: 24px;
            background: #fff;
            border: 1px solid #dadada;
            border-radius: 50%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 1;
            cursor: pointer;
            font-size: 16px;
            color: #333;
        }

            .packaging-items .packaging-item-management .btn-plus:disabled {
                cursor:default;
                background-color: #e5e5e5;
            }

            .packaging-items .packaging-item-management .btn-plus:before {
                content: "+";
            }

    .packaging-items .packaging-item-details{
        margin-left:16px;
    }

        .packaging-items .packaging-item-details .packaging-item-name{
            font-weight:bold;
        }

        .packaging-items .packaging-item-details .packaging-item-info {
            margin-top: 14px;
            display: flex;
            gap: 12px;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }

            .packaging-items .packaging-item-details .packaging-item-info .packaging-item-info-title {
                font-weight: 600;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: -.025em;
                color: #212121;
            }

        .packaging-items .packaging-item-image {
            width: 60px;
            border-radius: 5px;
        }

    .packaging-items .packaging-items-checkbox{
        width:50px;
    }

.badge-quantity {
    position: absolute;
    top: -8px;
    right: -8px;
    height: 26px !important;
    width: 26px !important;
    background-color: #ff6000;
    border-radius: 50%;
    color: #fff;
    border-color: #fff;
    padding: 6px 6px;
    font-size: .75rem;
    line-height: 135%;
    font-weight: 700;
    text-align: center;
}


.order-item-no-integration {
    border: 1px dashed #ff9292;
    border-radius:4px;
    cursor: pointer;
}

.order-item-no-integration :hover{
    background-color:#f2f2f2;
}

.order-item-no-integration-title {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
}

.order-item-no-integration-info {
    width: 100%;
    text-align: center;
}

.custom-loader {
    text-align: center;
    font-family: Arial, sans-serif;
}

    .custom-loader .spinner {
        margin: 0 auto 10px auto;
        width: 40px;
        height: 40px;
        border: 4px solid #ddd;
        border-top: 4px solid #3498db;
        border-radius: 50%;
        animation: spin 1s linear infinite;
    }

    .custom-loader p {
        font-size: 14px;
        color: #fff;
        margin: 0;
    }

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}